body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e4eee4;
}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
button:hover {background-color: #2aaa34}
  
button:active {
    background-color: #428342;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  table th {
    background-color: #428342;
    color: #e4eee4;
    padding: 10px;
    align-items: center;

  }
  table td{
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 5px;

  }